{% extends 'events/event_list.html' %}

{% block content %}

<form method='POST' action=''>
    <div class='container m-5 p-5 bg-info'>
        {% csrf_token %}
        <div class='row pd-2 offset-md-3'>
            <div class='p-2'>
                Are you sure you want to delete?
            </div>
            <div >
                <button class='btn btn-danger p-2 col-4' type='submit'>Yes, delete.</button>
                <a href='/'><button class='btn btn-secondary p-2 col-4'>Cancel</button></a>
            </div>
        </div>
    </div>
</form>

{% endblock %}